body {
   font-size: 16px;
   margin: 0;
   color: forestgreen;
}

h1 {
   font-size: 1.8rem;
   margin: 0;
   padding: 0;
}

p {
   font-size: 1.2rem;
   color: #000;
}

*,
*::after,
*::before {
   box-sizing: border-box;
}